.library {
	position: fixed;
	background: rgb(169, 187, 236);
	top: 0;
	left: 0;
	width: 25rem;
	height: 100%;
	overflow: scroll;
	box-shadow: 2px 2px 50px rgb(204, 204, 204);
	transform: translateX(-100%);
	opacity: 0;
	transition: all 0.3s ease;
	h1 {
		margin: 2rem 0 1rem 2rem;
		font-size: 2rem;
	}
}

.library-song {
	display: flex;
	align-items: center;
	padding: 1.5rem 0 1.5rem 2rem;
	cursor: pointer;
	transition: background 0.3s ease;
	img {
		width: 30%;
	}
	h4 {
		margin-left: 1rem;
		font-size: 1rem;
	}
	h3 {
		margin: 0rem 0rem 0.5rem 1rem;
		font-size: 1.3rem;
	}
	&:hover {
		background: rgb(222, 222, 255);
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
	width: 7px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

.selected {
	background: rgb(245, 206, 245);
}

.active-library {
	transform: translateX(0%);
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.library {
		width: 100%;
	}
}
